html,
body {
    font-family: "Poppins", sans-serif;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.logo-home {
    font-size: xx-large;
}

.top-section {
    display: flex;
    background-image: url("./images/flashcards.jpg");
    background-size: contain;
    background-size: cover;
    /* background-color: #A8DADC; */
    height: 100vh;
}

.top-left {
    width: 40vw;
    margin-left: 1rem;
}