html,
body {
    font-family: "Poppins", sans-serif;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.logo-home {
    font-size: xx-large;
}

.top-section {
    display: flex;
    background-image: url("./images/flashcards.jpg");
    background-size: contain;
    background-size: cover;
    /* background-color: #A8DADC; */
    height: 100vh;
}

.top-left {
    width: 40vw;
    margin-left: 1rem;
}
.sign-in {
    background-color: #457B9D;
    padding: .5rem;
    border: 1px solid #A8DADC;
    border-radius: 15px;
    color: #F1FAEE;
    -webkit-transition: .5s;
}

.sign-in:hover {
    background-color: #A8DADC;
    color: #1D3557;
    transition: .5s linear;
    /* box-shadow: 5px, 5px, 5px #1D3557; */
    border: 1px solid #1D3557;
    -webkit-transition: .5s;
}