html,
body {
    font-family: "Poppins", sans-serif;
    height: 100%;
    width: 100%;
    position: relative;
        background-color: #F1FAEE;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: .25rem;
            padding-bottom: .25rem;
        /* margin-left: 1.5rem;
             margin-right: 1.5rem; */
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #F1FAEE;
}

.logo-home {
    font-size: 2em;
}

.logo-home {
    color: black;
}
.top-section {
    display: flex;
    background-image: url("./images/flashcards.jpg");
    background-size: contain;
    background-size: cover;
    height: 100vh;
}

.top-left {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    width: 40vw;
    margin-left: 1rem;
    color: #F1FAEE;
}
.sign-in {
    background-color: #457B9D;
    padding: .5rem;
    border: 1px solid #A8DADC;
    border-radius: 15px;
    color: #F1FAEE;
    -webkit-transition: .5s;
}

.sign-in:hover {
    background-color: #A8DADC;
    color: #1D3557;
    transition: .5s linear;
    /* box-shadow: 5px, 5px, 5px #1D3557; */
    border: 1px solid #1D3557;
    -webkit-transition: .5s;
}
.about-hero {
    background-image: url("./images/cocktail.jpg");
    background-size: contain;
    background-size: cover;
    height: 100vh;
    text-align: right;
    padding-right: 3rem;
    padding-top: 7rem;
    font-size: 2.75em;
    color: #F1FAEE;
}

.about-hero h1 {
    font-weight: 800;
}

.wrapper {
    display: block;
    margin: 0 auto;
    padding-right: 3em;
}

.adjectives {
    font-size: 1.25em;
    height: 1.5em;
    vertical-align: middle;
    overflow: hidden;
    /* position: absolute; */
    transform: translate(0, 0);
}

.adjectives div {
    height: 1.5em;
    transition: margin-top 1s;
}