* {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
        margin-right: 30px;
}

.logo-home {
    font-size: xx-large;
}

.top-section {
    display: flex;
    background-color: #A8DADC;
        height: 100vh;
}

.top-left {
    width: 40vw;
        margin-left: 25px;
}